* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  padding: 30px;
  background-color: aquamarine;
  border-bottom: 15px solid rgb(3, 20, 116);
}

h1:hover {
  color: white;
}

h1 {
  padding: 20px 0;
  color: rgb(3, 20, 116);
  font-size: 250%;
}

h2 {
  color: rgb(3, 20, 116);
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

li {
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(3, 20, 116);
}

figure {
  display: flex;
  position: relative;
}

.nav-links:hover {
  color: white;
}

#about-me {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  border-bottom: 15px solid rgb(3, 20, 116);
}

#my-work {
  display: flex;
  border-bottom: 15px solid rgb(3, 20, 116);
  justify-content: space-around;
  padding: 50px 0;
}

#contact-me {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 0;
}

.photo {
  width: 8%;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  max-width: 50%;
}

.about-me-header {
  align-self: center;
  border-left: 5px solid rgb(3, 20, 116);
}

.my-work-header {
  border-left: 5px solid rgb(3, 20, 116);
  align-self: center;
}

.my-work {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.project-1-img {
  width: 100%;
  border: 5px solid rgb(3, 20, 116);
}

.project-1-caption {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgb(3, 20, 116);
  color: white;
  padding: 5px 5px 0 0;
}

.seo-img {
  width: 100%;
  margin: 10px 0 0 0;
  border: 5px solid rgb(3, 20, 116);
  min-height: 97.5%;
}

.seo-caption {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgb(3, 20, 116);
  color: white;
}

.lightbulb-img {
  width: 100%;
  margin: 10px 0 0 10px;
  border: 5px solid rgb(3, 20, 116);
}

.lightbulb-caption {
  position: absolute;
  bottom: 5px;
  left: 15px;
  background-color: rgb(3, 20, 116);
  color: white;
  padding-left: 10px;
}

.figure-seo {
  width: 50%;
  margin-top: 10px;
}

.figure-lightbulb {
  width: 50%;
  margin-top: 10px;
}

.contacts {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.contact-me-header {
  align-self: center;
  padding-bottom: 30px;
}

.contact-links:hover {
  color: lightblue;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-direction: row;
  }

  h1 {
    padding-left: 20px;
  }

  #about-me {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }

  .about-me-header {
    border: none;
    padding-bottom: 20px;
  }

  .photo {
    width: 20%;
  }

  #my-work {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }

  .my-work-header {
    border: none;
    padding-bottom: 20px;
  }

  .figure-seo {
    width: 100%;
  }

  .figure-lightbulb {
    width: 100%;
  }

  .lightbulb-img {
    margin-left: 0;
  }

  .seo-caption {
    bottom: 0px;
  }

  .lightbulb-caption {
    left: 0;
  }
}
